@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #2e4f4f;
  color: #cbe4de;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Fresca", sans-serif;
  font-stretch: extra-expanded;
}

::-webkit-scrollbar {
  display: none;
}
